<div class="flex flex-col h-screen bg-yellow-400">
    <div class="flex items-center justify-center flex-grow">
        <div class="w-full max-w-md mt-7">
            <!-- formulario -->
            <div class="w-full max-w-md ">
                <div class="px-8 pt-6 pb-8 mb-4 text-center text-white bg-gray-800 rounded shadow-md card">
                    <h2 class="mb-4 text-xl font-bold">Sobre nosotros</h2>
                    <div class="flex h-20 gap-5">
                        <img src="../../assets/icono_4.png" alt="">
                        <img src="../../assets/icono_2.png" alt="">
                        <img src="../../assets/icono_1.png" alt="">
                    </div>
                    <div class="text-justify">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil minima ratione quas reiciendis repellat inventore pariatur quisquam fuga aliquid asperiores expedita voluptatibus sit sed reprehenderit qui maxime, illum praesentium possimus.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <app-footer class="mt-10"></app-footer>

</div>