<div class="relative w-full max-w-md p-4 bg-white rounded-lg shadow-lg">
    <h2 class="mb-4 text-xl font-semibold">¿Confirmar Compra?</h2>

    <ul class="flex flex-wrap items-center space-x-2">
        <li *ngFor="let producto of _carritoService.getProductos()" class="w-full">
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <img [src]="producto.imagen" alt="" class="h-16">
                    <p>{{ producto.nombre }} - {{ producto.precio }}</p>
                </div>
             
            </div>
        </li>
    </ul>
</div>

<div>
    <h1 mat-dialog-title>{{ data.nombre }}</h1>
    <div mat-dialog-content>
      
        <p></p>
        <mat-form-field>
            <mat-label>Talla</mat-label>
            <mat-select  id="talla-selector"[(ngModel)]="data.tallas">
                <mat-option *ngFor="let talla of ['CH ','M', 'G']" [value]="talla">{{ talla }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button class="bg-red-500 p-1 rounded-lg"mat-button (click)="onNoClick()" style="margin-right: 10px;">Cancelar</button>
        <button class="bg-blue-600 p-1 rounded-lg" mat-button color="primary" [mat-dialog-close]="true" (click)="onConfirmClick()" style="margin-left: 10px;">Agregar al carrito</button>
      </div>
</div>